@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="card card-widget">
    <div class="card-header">
        <h3 class="card-title">NẠP TIỀN VÀO VÍ</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <img class="img-fluid pad" src="~/img/qr.jpg" alt="Photo" style="max-width:500px;">

        <p class="text-danger">Nội dung chuyển khoản ghi rõ:</p>
        <br />
        <p class="text-danger">Quý khách vui lòng chuyển đúng nội dung chuyển khoản để hệ thống duyệt tiền tự động nhanh nhất</p>
        
        
    </div>
    <!-- /.card-body -->
     
</div>