@using Microsoft.AspNetCore.Mvc.TagHelpers
@using pbt.ApplicationUtils

@model pbt.Web.Models.Customers.CustomerIndexViewModel
<div class="collapse" id="CustomerFilterCollapse">
    <div class="abp-advanced-search">
        <form id="CustomerSearchForm" class="form-horizontal">
            <div class="form-row">
                <div class="col-md-3">
                    <label for="Keyword">Từ khóa</label>
                    <input type="text" id="Keyword" name="Keyword" class="form-control txt-search" placeholder="@L("Search")" />
                </div>

           
                
                <div class="col-md-12 text-right">
                    <button type="button" class="btn bg-blue btn-search">
                        <span class="fas fa-search" aria-hidden="true">Tìm kiếm</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>